In [11]:
from selenium import webdriver
from bs4 import BeautifulSoup as soup
import time
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException   

import time
# -*- coding: utf-8 -*-
from time import sleep
from tqdm import tqdm, trange
import sqlite3

In [12]:
#確認DB連線狀況
#若是未創建則創建一個
def db_connect():
    try:
        db = sqlite3.connect('data.db')
        cursor = db.cursor()
        print('Connect ok')
    except:
        Table_create()
        print('DB create ok')
        db = sqlite3.connect('data.db')
        cursor = db.cursor()
        print('Connect ok')

In [13]:
# Create Table
def Table_create():
    cursor.execute(
    '''CREATE TABLE SHOPEE
    (ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME TEXT NOT NULL,
    LINK TEXT NOT NULL,
    PRICE INT NOT NULL,
    DATE DATETIME NOT NULL);''')

    print('Table created.')
    db.commit()

In [14]:
#取得所有Tables
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT name from sqlite_master where type= "table"')
    print(cursorObj.fetchall())

In [15]:
#CRUD

In [16]:
# Create
def db_insert(SQL):
    # Create table
    cursor.execute(SQL)
    print('Table insert '+SQL)
    db.commit()

In [17]:
# Read
def db_select(SQL):
    # Select table
    cursor.execute(SQL)
    print('Table select '+SQL)
    db.commit()

In [18]:
# Update
def db_update(SQL):
    # Update table
    cursor.execute(SQL)
    print('Table update '+SQL)
    db.commit()

In [19]:
# Delete
def db_delete(dic):
    # Update table
    
    cursor.execute(SQL)
    print('Table update '+SQL)
    db.commit()

In [20]:
sql_fetch(db)

[('HUMAN',), ('shopee_history',), ('sqlite_sequence',), ('SHOPEE',)]

In [392]:
results = cursor.execute('''SELECT * FROM SHOPEE''')
for item in results:
    print(item)

In [393]:
# Insert
cursor.execute('''INSERT INTO HUMAN (ID,NAME,AGE) VALUES (1, 'Clay', 25)''')
cursor.execute('''INSERT INTO HUMAN (ID,NAME,AGE) VALUES (2, 'Wendy', 16)''')

db.commit()
print('Insert ok')

Insert ok

In [394]:
# Select
results = cursor.execute('''SELECT * FROM HUMAN''')
for item in results:
    print(item)

(1, 'Clay', 25)
(2, 'Wendy', 16)