In [6]:
from selenium import webdriver
from bs4 import BeautifulSoup as soup
import time
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException   

import time
# -*- coding: utf-8 -*-
from time import sleep
from tqdm import tqdm, trange
import sqlite3

In [7]:
# Create Table
def Table_create(con,db):
    Table_create_sql_Shopee_History = ('''
    CREATE TABLE Shopee_History
    (ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME TEXT NOT NULL,
    LINK TEXT NOT NULL,
    PRICE INT NOT NULL,
    DATETIME DATETIME NOT NULL,
    TIMESTAMP TEXT NOT NULL
    );
    ''')
    Table_create_sql_Shopee_Notify = ('''
    CREATE TABLE Shopee_Notify
    (ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME TEXT NOT NULL,
    LINK TEXT NOT NULL,
    PRICE INT NOT NULL,
    DATETIME DATETIME NOT NULL,
    TIMESTAMP TEXT NOT NULL
    );
    ''')
    
    con.execute(Table_create_sql_Shopee_History)
    print(Table_create_sql_Shopee_History)
    con.execute(Table_create_sql_Shopee_Notify)
    print(Table_create_sql_Shopee_Notify)
    print('Table created.')
    db.commit()

In [8]:
#確認DB連線狀況
#若是未創建則創建一個
def db_connect():
    try:
        db = sqlite3.connect('data.db')
        con = db.cursor()
        print('Connect ok')
        Table_create(con,db)
        print('DB create ok')
        sql_fetch(con)
    except:
        sql_fetch(con)

In [9]:
#取得所有Tables
def sql_fetch(con):
    con.execute('SELECT name from sqlite_master where type= "table"')
    print(con.fetchall())

In [10]:
db_connect()

Connect ok

    CREATE TABLE Shopee_History
    (ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME TEXT NOT NULL,
    LINK TEXT NOT NULL,
    PRICE INT NOT NULL,
    DATETIME DATETIME NOT NULL,
    TIMESTAMP TEXT NOT NULL
    );


    CREATE TABLE Shopee_Notify
    (ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME TEXT NOT NULL,
    LINK TEXT NOT NULL,
    PRICE INT NOT NULL,
    DATETIME DATETIME NOT NULL,
    TIMESTAMP TEXT NOT NULL
    );

Table created.
DB create ok
[('Shopee_History',), ('sqlite_sequence',), ('Shopee_Notify',)]

In [11]:
db_connect()

Connect ok
[('Shopee_History',), ('sqlite_sequence',), ('Shopee_Notify',)]

In [15]:
#CRUD

In [35]:
# Create
def db_insert(con,TABLE,ID,NAME,LINK,PRICE,DATETIME,TIMESTAMP):
    # Insert Data
    db_insert_sql = '''
    INSERT INTO %s
    (NAME,LINK,PRICE,DATETIME,TIMESTAMP) 
    VALUES 
    (%s, %s, %s, %s, %s);
    '''
    db_insert_sql = db_insert_sql% (TABLE,NAME,LINK,PRICE,DATETIME,TIMESTAMP)
    print(db_insert_sql)
    
    #con.execute(db_insert_sql,(TABLE,ID,NAME,LINK,PRICE,DATETIME,TIMESTAMP))
    #db.commit()

In [36]:
db_insert("con","TABLE","ID","NAME","LINK","PRICE","DATETIME","TIMESTAMP")

    INSERT INTO TABLE
    (NAME,LINK,PRICE,DATETIME,TIMESTAMP)
    VALUES
    (NAME, LINK, PRICE, DATETIME, TIMESTAMP);

In [37]:
# Read
def db_select(con,TABLE):
    # Select table
    db_select_sql = '''
    SELECT * FROME %s 
    '''
    db_select_sql = db_select_sql% (TABLE)
    print(db_select_sql)
    
    #con.execute(db_insert_sql,(TABLE,ID,NAME,LINK,PRICE,DATETIME,TIMESTAMP))
    #db.commit()

In [39]:
db_select("con","TABLE")

    SELECT * FROME TABLE

In [41]:
# Update
def db_update(con,TABLE,PRICE,LINK):
    # Update table
    db_update_sql = '''
    UPDATE %s 
    SET 
    PRICE = %s
    WHERE LINK = %s;
    '''
    db_update_sql = db_update_sql% (TABLE,PRICE,LINK)
    print(db_update_sql)
    
    #con.execute(db_insert_sql,(TABLE,ID,NAME,LINK,PRICE,DATETIME,TIMESTAMP))
    #db.commit()

In [42]:
db_update("con","TABLE","PRICE","LINK")

    UPDATE TABLE
    SET
    PRICE = PRICE
    WHERE LINK = LINK;

In [43]:
# Delete
def db_delete(con,TABLE):
    # Delete table
    db_delete_sql = '''
    DELETE * FROM %s;
    '''
    db_delete_sql = db_delete_sql% (TABLE)
    print(db_delete_sql)
    
    #con.execute(db_insert_sql,(TABLE,ID,NAME,LINK,PRICE,DATETIME,TIMESTAMP))
    #db.commit()

In [44]:
db_delete("con","TABLE")

    DELETE * FROM TABLE;

In [392]:
results = cursor.execute('''SELECT * FROM SHOPEE''')
for item in results:
    print(item)